/* global styles for claytor lake web app */

html {
    background-color: transparent;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 75%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
    background-color: transparent;
    width: 100%;
    min-height: 100vh;
    font-size: 1rem;
    color: #fff;
}

a {
    color: #fff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

input {
    font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
}

#background {
    min-height: 100vh;
    height: 100vh;
    min-width: 100%;
    width: 100%;
    /*background: url(../images/gm.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;*/
    z-index: -1;
}

#content {
    width: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    text-align: center;
    padding-top: 1rem;
    box-sizing: border-box;
    overflow: hidden;
}

.container #current-zip {
    text-align: left;
    margin-left: 1rem;
    position: absolute;
}

.container #current-zip #zip {
    -webkit-appearance: none;
    border: 0;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    width: 90px;
}

#content .container .container {
    min-height: auto;
    height: auto;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#content p {
    color: #fff;
    margin: 0;
}

.container #current-zip #zip:focus,
.container #current-zip #zip:active {
    font-size: 1rem;
}

#content #time {
    display: inline-block;
}

#content #time,
#content .author,
.container #current-zip {
    opacity: 0.6;
}

#content .message {
    font-size: 6rem;
    line-height: 5.2rem;
    letter-spacing: -6px;
}

#content .conditions {
    list-style-type: none;
    padding: 0;
}

#content .conditions li {
    display: inline-block;
    vertical-align: middle;
    font-size: 2rem;
    margin-left: 1.5rem;
}

#content .temp,
#content .location,
#content .winds,
#content .currently {
    font-weight: 700;
}

#content .wc {
    font-size: 1.25rem;
    font-weight: 100;
}

#content #logo {
    width: 100%;
    max-width: 150px;
    margin-top: 100px;
}

#content .author {
    position: absolute;
    bottom: 1rem;
    width: 100%;
}

/*=========================== menu ===========================*/

#show-menu {
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

#show-menu i {
    cursor: pointer;
}

.menu {
    width: 200px;
    position: absolute;
    top: 4rem;
    right: -200px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    background-color: rgba(0, 0, 0, 0.5);
}

.menu ul {
    margin: 0;
}

.menu.visible {
    right: 0;
}

.menu ul li a {
    padding: 1rem;
    display: block;
}

.menu ul li {
    border-bottom: 1px solid #fff;
}

.menu ul li:last-child {
    border-bottom: 0;
}

@media (max-width : 600px) {
    #content {
        background-color: rgba(0, 0, 0, 0.65)
    }
    
    .container {
        padding-top: 0.5rem;
    }
    
    .container #current-zip {
        text-align: center;
        margin-bottom: 0.6rem;
    }
    
    #content .conditions li {
        display: block;
        font-size: 1.25rem;
        margin: 0;
    }
    
    #content .wc {
        font-size: 0.75rem;
    }
    
    #logo {
        margin-top: 75px;
    }
}
